<template>
  <div class="md-layout">
    <!-- IRMA TODO
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-100"
    >
      <div class="md-layout-item md-size-100 alert alert-warning">
        <span class="p-inline">
          <md-icon class="text-danger">
            warning
          </md-icon>
          {{ this.$S_i18n.t("BF_DASHABOARD_NOTIFICATION_LABEL") }}
          <md-button id="alertbutton" class="md-round md-success md-sm">
            {{ this.$S_i18n.t("BF_DASHABOARD_NOTIFICATION_BUTTON_LABEL") }}
          </md-button>
        </span>
      </div>
    </div>
  -->
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
    >
      <dashboard-card
        :chart-data="dataCompletedTasksChart.data"
        :chart-options="dataCompletedTasksChart.options"
        chart-type="Line"
        chart-inside-header
        background-color="blue"
      >
        <template slot="content">
          <h4 class="title">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD1_TITTLE") }}
          </h4>
          <p class="category">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD1_BODY") }}
          </p>
        </template>
        <template slot="footer">
          <div class="stats">
            <md-icon>access_time</md-icon>
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD1_FOOTER") }}
            <animated-number :value="26"></animated-number>
          </div>
        </template>
      </dashboard-card>
    </div>

    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
    >
      <dashboard-card
        :chart-data="dataCompletedTasksChart.data"
        :chart-options="dataCompletedTasksChart.options"
        chart-type="Line"
        chart-inside-header
        background-color="blue"
      >
        <template slot="content">
          <h4 class="title">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD2_TITTLE") }}
          </h4>
          <p class="category">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD2_BODY") }}
          </p>
        </template>
        <template slot="footer">
          <div class="stats">
            <md-icon>access_time</md-icon>
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD2_FOOTER") }}
            <animated-number :value="26"></animated-number>
          </div>
        </template>
      </dashboard-card>
    </div>

    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
    >
      <dashboard-card
        :chart-data="dataCompletedTasksChart.data"
        :chart-options="dataCompletedTasksChart.options"
        chart-type="Line"
        chart-inside-header
        background-color="blue"
      >
        <template slot="content">
          <h4 class="title">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD3_TITTLE") }}
          </h4>
          <p class="category">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD3_BODY") }}
          </p>
        </template>
        <template slot="footer">
          <div class="stats">
            <md-icon>access_time</md-icon>
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD3_FOOTER") }}
            <animated-number :value="26"></animated-number>
          </div>
        </template>
      </dashboard-card>
    </div>

    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-50"
    >
      <dashboard-card
        :chart-data="dataCompletedTasksChart.data"
        :chart-options="dataCompletedTasksChart.options"
        chart-type="Line"
        chart-inside-header
        background-color="blue"
      >
        <template slot="content">
          <h4 class="title">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD4_TITTLE") }}
          </h4>
          <p class="category">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD4_BODY") }}
          </p>
        </template>
        <template slot="footer">
          <div class="stats">
            <md-icon>access_time</md-icon>
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD4_FOOTER") }}
            <animated-number :value="26"></animated-number>
          </div>
        </template>
      </dashboard-card>
    </div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-33"
    >
      <chart-card
        header-animation="true"
        :chart-data="emailsSubscriptionChart.data"
        :chart-options="emailsSubscriptionChart.options"
        :chart-responsive-options="emailsSubscriptionChart.responsiveOptions"
        chart-type="Bar"
        chart-inside-header
        background-color="rose"
      >
        <template slot="content">
          <h4 class="title">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD1_TITTLE") }}
          </h4>
          <p class="category">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD1_BODY") }}
          </p>
        </template>
        <template slot="footer">
          <div class="stats">
            <md-icon>access_time</md-icon>
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD1_FOOTER") }}
          </div>
        </template>
      </chart-card>
    </div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-33"
    >
      <chart-card
        :chart-data="dailySalesChart.data"
        :chart-options="dailySalesChart.options"
        chart-type="Line"
        chart-inside-header
        background-color="green"
      >
        <template slot="content">
          <h4 class="title">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD2_TITTLE") }}
          </h4>
          <p class="category">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD2_BODY") }}
          </p>
        </template>

        <template slot="footer">
          <div class="stats">
            <md-icon>
              access_time
            </md-icon>
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD2_FOOTER") }}
          </div>
        </template>
      </chart-card>
    </div>
    <div
      class="md-layout-item md-medium-size-100 md-xsmall-size-100 md-size-33"
    >
      <chart-card
        :chart-data="dataCompletedTasksChart.data"
        :chart-options="dataCompletedTasksChart.options"
        chart-type="Line"
        chart-inside-header
        background-color="blue"
      >
        <template slot="content">
          <h4 class="title">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD3_TITTLE") }}
          </h4>
          <p class="category">
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD3_BODY") }}
          </p>
        </template>
        <template slot="footer">
          <div class="stats">
            <md-icon>access_time</md-icon>
            {{ this.$S_i18n.t("BF_DASHBOARD_SUMMARY_GRAPHS_CARD3_FOOTER") }}
            <animated-number :value="26"></animated-number>
          </div>
        </template>
      </chart-card>
    </div>
  </div>
</template>

<script>
import { ChartCard, DashboardCard, AnimatedNumber } from "@/components";

export default {
  components: {
    ChartCard,
    AnimatedNumber,
    DashboardCard
  },

  mounted() {},

  data() {
    return {
      landing_img: process.env.VUE_APP_BF_LANDING_IMG_INFO,
      product1: "./img/card-2.jpg",
      product2: "./img/card-3.jpg",
      product3: "./img/card-1.jpg",
      seq2: 0,
      mapData: {
        AU: 760,
        BR: 550,
        CA: 120,
        DE: 1300,
        FR: 540,
        GB: 690,
        GE: 200,
        IN: 200,
        RO: 600,
        RU: 300,
        US: 2920
      },
      dailySalesChart: {
        data: {
          labels: ["M", "T", "W", "T", "F", "S", "S"],
          series: [[12, 17, 7, 17, 23, 18, 38]]
        },
        options: {
          lineSmooth: this.$Chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 50, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      },
      dataCompletedTasksChart: {
        data: {
          labels: ["12am", "3pm", "6pm", "9pm", "12pm", "3am", "6am", "9am"],
          series: [[230, 750, 450, 300, 280, 240, 200, 190]]
        },

        options: {
          lineSmooth: this.$Chartist.Interpolation.cardinal({
            tension: 0
          }),
          low: 0,
          high: 1000, // creative tim: we recommend you to set the high sa the biggest value + something for a better look
          chartPadding: {
            top: 0,
            right: 0,
            bottom: 0,
            left: 0
          }
        }
      },
      emailsSubscriptionChart: {
        data: {
          labels: [
            "Ja",
            "Fe",
            "Ma",
            "Ap",
            "Mai",
            "Ju",
            "Jul",
            "Au",
            "Se",
            "Oc",
            "No",
            "De"
          ],
          series: [[542, 443, 320, 780, 553, 453, 326, 434, 568, 610, 756, 895]]
        },
        options: {
          axisX: {
            showGrid: false
          },
          low: 0,
          high: 1000,
          chartPadding: {
            top: 0,
            right: 5,
            bottom: 0,
            left: 0
          }
        },
        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function(value) {
                  return value[0];
                }
              }
            }
          ]
        ]
      }
    };
  }
};
</script>
<style lang="scss">
#alertbutton {
  float: right;
  margin-top: -1px;
}
</style>
